<!-- start custom footer snippets -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3814771173262954"
        crossorigin="anonymous"></script>

<!-- end custom footer snippets -->

<!-- fixed-display -->
<center>
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-3814771173262954"
         data-ad-slot="9296902561"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</center>

