<hy-drawer>
  <header id="_sidebar" class="sidebar" role="banner">
    {% if image.background %}
      {% capture bg_style %}background:{{ image.background }}{% endcapture %}
      {% capture bg_class %}sidebar-bg {% if image.overlay %}sidebar-overlay{% endif %}{% endcapture %}
    {% else %}
      {% capture bg_style %}background-color:{{ color }};{% if image != 'none' %}background-image:url({% include smart-url url=image %}){% endif %}{% endcapture %}
      {% capture bg_class %}sidebar-bg {% if image != 'none' %}sidebar-overlay{% endif %}{% endcapture %}
    {% endif %}
    <div class="{{ bg_class }}" style="{{ bg_style }}"></div>
    <div class="sidebar-sticky">
      <div class="sidebar-about">
        <h2 class="h1"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h2>
        <!-- <br>
        <div class="sidebar-box">
                {% if author.picture %}
                  {% include srcset-img.html class="avatar" img=author.picture alt=author.name %}
                {% endif %}
        </div>
        <br> -->
        {% assign text = site.tagline | default:site.description %}
        {% if text %}
          <p class="{% if text.size > 100 %}fine{% endif %}">
            {{ text | markdownify | replace:'<p>','' | replace:'</p>','' }}
          </p>
        {% endif %}
      </div>

      <!-- search box -->
      <form action="/search">
          <!-- <div class="tipue_search_left">
              <img src="{{ "/assets/tipuesearch/search.png" | relative_url }}" class="tipue_search_icon">
          </div> -->
          <!-- <div class="tipue_search_right"> -->
          <div class="tipue_search">
              <img src="{{ "/assets/tipuesearch/search-black.png" | relative_url }}" class="tipue_search_icon">
              <input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 1 characters" style="width:150px;height:15px;font-size:5px" />
          </div>
          <div style="clear: both;"></div>
      </form>

      <nav class="sidebar-nav heading" role="navigation">
        {% include nav.html %}
      </nav>

      {% assign author = site.data.authors.first[1] | default:site.author %}

      <!-- social info -->
      <div class="sidebar-social">
        {% include social.html author=author %}
      </div>

    </div>
  </header>
</hy-drawer>
